{
  "presets": [
    "es2015-node4",
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }],
    "add-module-exports"
  ]
}
